h1
{
	color:#ff0000;
	background-color:#ffff00;
}

.layer1 {
    float: left; /* Обтекание по правому краю */
    background: #00FF00; /* Цвет фона */
    border: 1px solid black; /* Параметры рамки */
    padding: 10px; /* Поля вокруг текста */
    margin-right: 20px; /* Отступ справа */
    width: 40%; /* Ширина блока */
 }

p
{
	color:#ff0000;
	background-color:#00ff00;
}
