/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc); /* Градиентный фон */
    margin: 0;
    padding: 20px;
    color: #28a745; /* Зеленый цвет текста */
}

h1 {
    color: #00FF00; /* Ярко лаймовый цвет заголовка */
    text-align: center;
    margin-bottom: 20px;
}

h2, h3 {
    color: #00FF00; /* Ярко лаймовый цвет заголовков */
}

#account {
    background-color: #2c3e50; /* Темно-синий цвет фона для аккаунта */
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px 0;
}

#userInfo {
    color: #FFD700; /* Золотистый цвет для имени пользователя и монет */
    font-size: 1.5em; /* Увеличенный размер шрифта */
    display: flex;
    align-items: center; /* Центрирование по вертикали */
}

#userInfo img {
    width: 20px; /* Размер значка монетки */
    margin-left: 5px; /* Отступ между текстом и значком */
}

#adminMenu, #notesSection, #chatSection, #eventsDisplay {
    background: rgba(255, 255, 255, 0.9); /* Полупрозрачный белый фон */
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px 0;
}

button {
    background-color: #28a745; /* Зеленый цвет */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Плавный переход */
}

button:hover {
    background-color: #218838; /* Темнее при наведении */
    transform: scale(1.05); /* Увеличение кнопки при наведении */
}

/* Изменение стилей для текстовых полей */
input[type="text"], input[type="password"], input[type="datetime-local"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e9ecef; /* Цвет фона текстовых полей */
    color: #333; /* Цвет текста в текстовых полях */
}

input[type="text"]:focus, input[type="password"]:focus, input[type="datetime-local"]:focus {
    border-color: #28a745; /* Цвет рамки при фокусе */
    outline: none; /* Убираем стандартный контур */
}

#messages, #eventsList, #notesList {
    border: 1px solid #ccc;
    padding: 10px;
    height: 200px;
    overflow-y: scroll;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

p {
    margin: 0;
    color: #333; /* Цвет текста для параграфов */
}

h2, h3 {
    margin-top: 0;
}

/* Анимация для сообщений чата */
.message {
    transition: opacity 0.5s ease;
}
