h1
{
	color:#FF0000;
	background-color:#FFFF00;
}

.layer1 {
    float: left; /* Обтекание по правому краю */
    background: #0000FF; /* Цвет фона */
    border: 1px solid black; /* Параметры рамки */
    padding: 10px; /* Поля вокруг текста */
    margin-right: 20px; /* Отступ справа */
    width: 40%; /* Ширина блока */
 }

a
{
	color:#FF0000;
	background-color:#00FF00;
}
